<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="main-nav">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <img src="/img/ycash-logo.png" alt="Ycash" width="28" height="28">
            <strong>Inzyght</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/network.html">Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blocks">Blocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mempool">Mempool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
            </ul>
            <span id="node-stale-badge" class="badge bg-warning text-dark ms-3 d-none">
                <i class="fa fa-exclamation-triangle"></i> node data stale
            </span>
            <button id="theme-toggle" class="btn btn-sm btn-outline-secondary ms-3"
                    onclick="toggleTheme()" title="Switch to dark mode">
                <i class="fa fa-moon-o"></i>
            </button>
        </div>
    </div>
</nav>

